body {
  background: #edb690;
  margin: 1em 2em;
  font-family: serif;
}
a {
  text-decoration: underline;
  color: #222;
}
a:hover {
  background: #f5d0b0;
}
h1 {
  font-size: 1.3em;
}
h2 { 
  font-size: 1.1em;
}
li {
  padding-bottom: 1em;
}